In [3]:
import sqlite3

con = sqlite3.connect('hotel.db')
cursor = con.cursor()

def  printRes(r):
    for L in r:
        print(L)
    print()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Hotel',), ('Guest',), ('Room',), ('Booking',)]

In [12]:
cursor.execute("SELECT * FROM Hotel;")
print(cursor.fetchall())
names = list(map(lambda x : x[0], cursor.description))
print(names)

[('H01', 'Grosvenor Hotel', 'Sydney'), ('H02', 'ANA Hotel', 'Sydney'), ('H03', 'Great Mansion Hotel', 'Brisbane'), ('H04', 'Grand Hotel', 'Brisbane'), ('H05', 'Central Hotel', 'Sydney'), ('H06', 'Airport Hotel', 'Sydney')]
['hotelNo', 'hotelName', 'city']

In [6]:
print(names)

['hotelNo', 'hotelName', 'city']

In [35]:
cursor.execute("SELECT * FROM Hotel WHERE city = 'Brisbane';")
print(cursor.fetchall())

[('H03', 'Great Mansion Hotel', 'Brisbane'), ('H04', 'Grand Hotel', 'Brisbane')]

In [27]:
cursor.execute("SELECT guestName, guestAddress FROM Guest ORDER BY guestName;")
print(cursor.fetchall())

[('David Goodman', '21 mains rd,Sydney'), ('David Smith', '101 San_Lurry St, Brisbane'), ('John Wang', '1 newfound Rd, Gold Coast'), ('Lawrence Dooley', '12 Sydney street, Brisbane'), ('Lisa Bourke', None), ('Ray Maher', '10 Churchill Court, Brisbane')]

In [37]:
cursor.execute("SELECT price, roomtype FROM Room,Hotel;")
print(cursor.fetchall())

[(120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (120, 'F'), (150, 'LD'), (150, 'LD'), (150, 'LD'), (150, 'LD'), (150, 'LD'), (150, 'LD'), (100, 'D'), (100, 'D'), (100, 'D'), (100, 'D'), (100, 'D'), (100, 'D'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (80, 'S'), (100, 'LS'), (100, 'LS'), (100, 'LS'), (100, 'LS'), (100, 'LS'), (100, 'LS'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (78, 'S'), (75, 'BF'), (75, 'BF'), (75, 'BF'), (75, 'BF'), (75, 'BF'), (75, 'BF')]