In [ ]:
import pandas as pd
import re

In [ ]:
#   Load csv
reviews = pd.read_csv("winereviews.csv",index_col=0)
#if there is a index column in a csv file already
#   use "index_col"  to specify

In [ ]:
# Visualize dataframe

display(reviews)
#no need to import display if jupyter notebook is used
#otherwise, install ipython, thr ipyhton.display()
#use "index_col" to specify

In [ ]:
#   Get all names of columns

for col_name in reviews.columns:
    print(col_name)

In [ ]:
display(reviews.points)

In [ ]:
#   Index using numeric slice

display(reviews[0:5])
print('++++++++++++++++++++++')
display(reviews[['country','points']][0:5])

In [ ]:
#   Index using head()

display(reviews.head()) #   By default, display first 5 rows in a dataframe
print('+++++++++++++++++++++++')
display(reviews.head(10)) #   display first 10 rows in a dataframe
print('+++++++++++++++++++++++')
display(reviews['country'].head(4)) #   For a specific column, display first 4 rows in a dataframe
print('+++++++++++++++++++++++')
display(reviews[['country','province']].head(4)) #   For multiple columns, display first 4 rows in a dataframe

In [ ]:
#   Display country names without duplicates

display(reviews['country'].drop_duplicates())

In [ ]:
display(reviews.iloc[0])    #   select one row
display(reviews.iloc[1:4])    #   select multiple rows
display(reviews.iloc[0:4 , 0:2])    #   select multiple rows, first 2 columns

In [ ]:
#   Lowest rated wine from each country

display(reviews['points'].groupby(reviews['country']).min)

In [ ]:
#   Top 5 wines with the highest points
display(reviews.nlargest(5,'points'))   

#   Top 5 wines in the US with the highest points
display(reviews[reviews['country']=='US'].nlargest(5,'points')) 

#   Top 10m wines with the highest points in the US or Spain with the price over
display (reviews.query("country == 'US' or country == 'Spain' and price > 200").nlargest(10,'points'))

In [ ]:
reviews.groupby(['country','variety'])['variety'].count()#.first()#.variety.count().sort_values(ascending=False)

In [ ]:
#   Boolean indexing and isin function 
#   Find wine made in the US and is Spain\
#print(reviews[(reviews['country']=='US') | (reviews['country'] == 'Spain')])

bool_index = reviews['country'].isin(['US','Spain']) #it returns the index of wines that are from the US and spain
display(bool_index)
print(type(bool_index))
display(reviews [reviews['country'].isin(['US','Spain'])])

In [ ]:
#   what countries are represnted in the dataset?

countries = reviews['country'].unique()
display(countries)

In [ ]:
#   Show all wines with a score of 100

pointsover100 = reviews[reviews['points']>=100]
display(pointsover100)

In [ ]:
#   Find the highest rated wine for each variety

highestVariety = reviews['points'].groupby(reviews['variety']).max()
display(highestVariety)

In [ ]:
#   Find the lowest rated wine for each variety

lowestVariety = reviews['points'].groupby(reviews['variety']).min()
display(lowestVariety)

In [ ]:
#Find the top 10 bargain wines (wines with the highest price-to-price ratio)

bargains = reviews
bargains['value'] = bargains.points / bargains.price
display(bargains.nlargest(10,'value'))

In [27]:
#   Calculate the avergae price of wine for the country:

averageCountryPrice = reviews['price'].groupby(reviews['country']).mean()
display(averageCountryPrice)

country
Albania                   20.000000
Argentina                 20.794881
Australia                 31.258480
Austria                   31.192106
Bosnia and Herzegovina    12.750000
Brazil                    19.920000
Bulgaria                  11.545455
Canada                    34.628866
Chile                     19.344780
China                     20.333333
Croatia                   23.108434
Cyprus                    15.483871
Czech Republic            18.000000
Egypt                           NaN
England                   47.500000
France                    45.619885
Georgia                   18.581395
Germany                   39.011078
Greece                    21.747706
Hungary                   44.204348
India                     13.875000
Israel                    31.304918
Italy                     37.547913
Japan                     24.000000
Lebanon                   25.432432
Lithuania                 10.000000
Luxembourg                40.666667
Macedonia                 15.312500
Mexico                    29.095238
Moldova                   15.366197
Montenegro                10.000000
Morocco                   18.833333
New Zealand               24.173290
Portugal                  26.332615
Romania                   16.395683
Serbia                    24.285714
Slovakia                  15.333333
Slovenia                  28.061728
South Africa              21.130532
South Korea               13.500000
Spain                     27.048529
Switzerland               26.500000
Tunisia                         NaN
Turkey                    25.800000
US                        33.653808
US-France                 50.000000
Ukraine                   13.000000
Uruguay                   25.847059
Name: price, dtype: float64

In [28]:
#   Calculate the avergae price of wine for the variety:

averageVarietyPrice = reviews['price'].groupby(reviews['variety']).mean()
display(averageVarietyPrice)

variety
Agiorgitiko               19.299145
Aglianico                 33.169884
Aidani                    27.000000
Airen                      8.833333
Albana                    33.933333
                            ...
Zierfandler-Rotgipfler    22.500000
Zinfandel                 26.775962
Zlahtina                  15.000000
Zweigelt                  21.295000
Å½ilavka                   14.000000
Name: price, Length: 632, dtype: float64